<!DOCTYPE html>
<html lang="en">
<head>
  <title>Club Membership</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <style>
      
      .selected {
        text-decoration: line-through ;
        font-style: italic;
        color: gray;
      }

      input {
          width: 100%;
          padding: 5px;
          margin: 5px 5px 5px 0px;
          box-sizing: border-box;
      }

  </style>

</head>
<body>
<!--div which holds code to be run by Vue id=app-->
<div id="app">
    <h1>Student Club Roster</h1>

    <h2>Add Students</h2>
    <!--lables and input for the form-->
    <label for="student-name">Student Name</label>
    <input v-model="newStudentName" id="student-name" name="student-name">

    <br>

    <label for="student-id">Student ID</label>
    <input v-model="newStudentId" id="student-id" name="student-id">

    <br>

    <label for="student-gpa">Student GPA</label>
    <input v-model="newStudentGpa" id="student-gpa" name="student-gpa" type="number">

    <br>
    <!--Add Student linked to addNewStudent function-->
    <button v-on:click="addNewStudent" id="add-student">Add Student</button>    

    <h2>Student List</h2>

    <!--Displays the number of students in the list-->
    <p>There is/are 
        <span id="student-count">
        {{studentCount}}
        </span> 
    student(s) in the club.</p>
    
        <!--list item that displays studentList, uses forEach loop to create new li item for each entry-->
    <ul id="student-list">
        <li v-for="student in studentList" v-on:click="selectOrUnselectStudent(student)" v-bind:class="{ selected: student.selected }">
            name: {{student.name}}, id: {{student.studentId}}, GPA: {{student.studentGpa}}
        </li>
    </ul>

    <!--Remove Selected Students button, linked to removeSelectedStudents function-->
    <button v-on:click="removeSelectedStudents" id="remove-selected-students">Remove selected students</button>

</div>  <!-- end of div#app -->

<script>

 

    const { createApp, ref, computed } = Vue //creates objects used by Vue

    createApp({
        setup() {
            //creates constant variables
            const newStudentName = ref('')
            const newStudentId = ref('')
            const newStudentGpa = ref('')

            //creates a list of objects and default data
            const studentList = ref([
                {name: 'Johnny Student', studentId: 'ab45879lo', studentGpa: '3', selected: false},
                {name: 'Janie Student', studentId: 'vf730021gt', studentGpa: '2', selected: false}
            ])

            //array to hold errors
            const errors = ref([])

             //computes the number of students in the list
            const studentCount = computed(()=>{
                return studentList.value.length
            })

            //function called when new student added
            const addNewStudent = () => {
                //resets errors array
                errors.value=[]
                //checks for invalid data, pushes to errors array
                if(newStudentName.value.length == 0){
                    errors.value.push('Please enter a Student Name.')
                }
                if(newStudentId.value.length == 0){
                    errors.value.push('Please enter a Student ID.')
                }
                if(newStudentGpa.value.length == 0){
                    errors.value.push('Please enter a Student GPA.')
                } else if(newStudentGpa.value.length < 0 || newStudentGpa.value.length >4 ){
                    errors.value.push('Student GPA must be between 0 & 4.')
                }
                //if error has length, then displayed with alert
                if (errors.value.length > 0) {
                    alert(errors.value.join('\n'))
                //if not values added to object then pushed to studentLish
                } else {
                    let student = {
                        name: newStudentName.value,
                        studentId: newStudentId.value,
                        studentGpa: newStudentGpa.value,
                        selected: false
                    }
                    studentList.value.push(student)
                    //variables are reset to empty
                    newStudentName.value = ''
                    newStudentId.value = ''
                    newStudentGpa.value = '' 
                }
            }
            //removes selected students from list, called by Remove selected students button
            const removeSelectedStudents = () => {  
                    let studentsToKeep = []
                studentList.value.forEach( oneStudent => {

                     if (oneStudent.selected == false) { // not selected, want to keep 
                         studentsToKeep.push(oneStudent)  // add to array 
                 }
                 })

                 studentList.value = studentsToKeep

           }

           //changes the selected status
            const selectOrUnselectStudent = (student) => {
                student.selected = !student.selected
            }


            return {
                // List all the refs and functions and computed properties 
                newStudentName,newStudentId,newStudentGpa,studentList,addNewStudent,studentCount,errors,
                selectOrUnselectStudent, removeSelectedStudents
            }
        }
    }).mount('#app')


</script>

</body>
</html>